### Problem 1

In [2]:
n = int(input('n: '))

def sum_n(n):
    result = (n*(n+1))/2
    return result

result = int(sum_n(n))
print(f'sum of 1 to {n} = {result}')

n:  10

sum of 1 to 10 = 55

### Problem 2

In [3]:
def sum_5():
    total = 0
    avg = 0
    for i in range(5):
        num = float(input())
        total+= num
    avg = total/5

    return total, avg

total, avg = sum_5()
print(f'sum: {total}')
print('average: %.2f' %avg)

 1
 2
 3
 4
 5

sum: 15.0
average: 3.00

### Problem 3

In [6]:
n = int(input('n: '))

def multi_table(n):
    for i in range(1, 13):
        print(f'{n} x {i} = {n*i}')

multi_table(n)

n:  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

### Problem 4

In [11]:
year = int(input('Enter year: '))

def check_year(year):
    if ((year%4==0) and (year%100!=0) or (year%400==0)):
        print('Leap year')
    else:
        print('Not leap year')

check_year(year)

Enter year:  2008

Leap year